// VARIABLES
$color-white: #ffffff;
$color-grey-light: #f0f0f0;
$color-grey-dark: #c1c1c1;
$color-black: #0e0e0e;

.accordion-item {
  $root: &;

  display: flex;
  flex-direction: column;
  border: 1px solid $color-grey-light;

  // HEADER
  &__header {
    color: $color-black;
    cursor: pointer;
    padding: 18px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    transition: background-color 0.6s ease;
  }

  &:nth-of-type(odd) > #{$root}__header {
    background-color: $color-grey-light;
    width: 100%;
    &:hover {
      background-color: $color-grey-dark;
    }
  }

  &:nth-of-type(even) > #{$root}__header {
    background-color: $color-white;
    width: 100%;
    &:hover {
      background-color: $color-grey-dark;
    }
  }

  &__header-text {
    display: flex;
    width: 100%;
  }

  // ICONS
  &__icon {
    margin-left: auto;
    transition: transform 0.6s ease;
  }

  .active {
    #{$root}__title {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 14px;
      text-align: left;
    }

    #{$root}__icon {
      transform: rotate(90deg);
    }
  }

  // CONTENT
  &__content {
    background-color: $color-white;
    overflow: auto;
    transition: max-height 0.6s ease;
    display: flex;
    flex-wrap: wrap;
  }

  // TEXT
  &__text-container {
    flex: 3;
  }

  &__text--bold {
    font-weight: 800;
  }

  &__text--small {
    font-family: sans-serif;
    padding: 10px 0;
    font-size: 16px;
  }

  &__text--medium {
    font-family: sans-serif;
    padding: 10px 0;
    font-size: 18px;
  }

  &__text--large {
    font-family: sans-serif;
    padding: 20px 0;
    font-size: 20px;
    margin-bottom: 0;
  }

  // LISTS
  &__list-container {
    margin: 0 5px;
  }

  // IMAGES
  &__image-container {
    position: relative;
  }

  &__image-item {
    max-height: 300px;
    padding: 20px 30px;
  }
}
